* {
  color: #333;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

#app {
  width: 800px;
  margin: 0 auto;
}

#produceConsole {
  overflow: auto;
  padding: 0 12px;
  height: 110px;
  background-color: #a5a5a5;
}

#produceConsole p {
  color: #eee;
}

.visual {
  overflow: auto;
  margin-top: 40px;
}

.visual .visual__title {
  text-align: center;
}

.visual .visual__app,
.visual .visual__pure-app {
  float: left;
  width: 50%;
  padding: 0 16px;
}

.visual table {
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.visual .visual__profile th,
.visual .visual__profile td {
  border: 1px solid #ddd;
  padding: 8px;
}

.visual .visual__label {
  font-weight: bold;
  color: #555;
}

.visual .visual__value {
  color: #999;
}

.container {
  overflow: auto;
  margin: 16px auto;
}

.container .app,
.container .pure-app {
  float: left;
  width: 50%;
  height: 600px;
}

.subject {
  text-align: center;
}

.teacher,
.student {
  text-align: left;
}

.teacher {
  vertical-align: top;
  display: inline-block;
  border-top: 1px solid #e8e8e8;
}

.student {
  overflow: auto;
  vertical-align: top;
  display: inline-block;
  border-top: 1px solid #e8e8e8;
  margin-left: 44px;
}

.teacher .teacher__avatar-wrapper,
.student .student__avatar-wrapper {
  float: left;
  text-align: center;
}

.teacher .teacher__avatar,
.student .student__avatar {
  display: inline-block;
  width: 44px;
  height: 44px;
}

.teacher .teacher__index,
.teacher .teacher__theme,
.student .student__index,
.student .student__gender {
  display: block;
  height: 22px;
  line-height: 22px;
}

.teacher .teacher__index,
.student .student__index {
  color: #fff;
  font-weight: bold;
}

.teacher .teacher__avatar {
  background-color: deeppink;
}

.student .student__avatar {
  background-color: cornflowerblue;
}

.teacher .teacher__profile,
.student .student__profile {
  float: left;
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  width: 200px;
}

.teacher .teacher__profile {
  width: 244px;
  background-color: lightseagreen;
}

.student .student__profile {
  background-color: orange;
}

.pair .pair__label {
  font-weight: bold;
}